# Syncthing
~syncthing~*.tmp

Release/
TeamViewer_API_Documentation.pdf

# Windows image file caches
Thumbs.db
ehthumbs.db

# OSX
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns

# Folder config file
Desktop.ini
picasa.ini

# Office Temp Files
~$*

# Powershell Studio
*.psbuild
*.psproj
*.psprojs
*.MainForm.psf
*.TempPoint.psd1
*.TempPoint.psm1
*.TempPoint.ps1
*.pss
